:root {
    --header-footer-background: #02160b;
    --text-main-color: #F7F7F7;
    --button-color: #CD6326;
    --button-hover: #E39128;
    --button-active: #8F5613;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color: var(--text-main-color);
    text-transform: uppercase;
}