:root {
  --header-survival-background: #02160b;
  --slider-background: #ccc;
  --footer-background: #181617;
  --text-main-color: #f7f7f7;
  --font-gray: #666;
  --font-dark: #333;
  --button-color: #cd6326;
  --button-hover: #e39128;
  --button-active: #8f5613;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo {
  margin-right: 1.4rem;
}
.logo-title {
  color: var(--text-main-color);
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 6rem;
}

h4 {
  color: var(--text-main-color);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
}

header {
  position: absolute;
  top: 0.3rem;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
}

.sv:hover {
  fill: #cd6326;
}
.header-navigation {
  width: 55rem;
  padding-left: 7.4rem;
  padding-top: 0.5rem;
}
.links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  font-size: 2.3rem;
}

.nav-link:nth-child(2n) {
  padding-right: 1rem;
}

.link-item > a {
  color: var(--text-main-color);
  text-decoration: none;
}
.link-item > img {
  padding-top: 1rem;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.signin-button {
  width: 12rem;
  height: 5rem;
  color: var(--text-main-color);
  font-size: 2.3rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  border: 0.2rem solid var(--button-color);
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
}
.survival {
  max-height: 77.9rem;
  background-color: var(--header-survival-background);
}

.hero-image {
  max-width: 144rem;
}
.hero-image > img {
  width: 100%;
}

.survival-text {
  position: absolute;
  top: 22%;
  left: 8.3%;
}
h2 {
  font-size: 4.8rem;
}
.survival-title {
  color: var(--button-color);
  line-height: 7.2rem;
  letter-spacing: 0.2rem;
}
.survival-text > p {
  width: 27.4rem;
  margin-top: 5rem;
  margin-bottom: 6.6rem;
}
.survival-content {
  color: var(--text-main-color);
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-style: normal;
  font-weight: normal;
}
.donate {
  background-color: var(--button-color);
  border-radius: 0.5rem;
  width: 16rem;
  height: 6rem;
  text-align: center;
  padding: 1.6rem 4.4rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.3rem;
  font-style: normal;
  line-height: 2.7rem;
  font-weight: normal;
}
.latest-articles-slider {
  background-color: var(--slider-background);
}

.latest-articles-slider-content {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12.5rem;
  text-align: center;
}

.last-articles-title {
  color: var(--font-dark);
  font-style: normal;
}
.last-article-content {
  font-size: 2.4rem;
  font-style: normal;
  color: var(--font-gray);
  padding-top: 2.3rem;
}

.slides {
  display: flex;
  justify-content: space-between;
  width: 120rem;
  margin-top: 12.4rem;
}
.slide {
  padding-top: 0.2rem;
  width: 30rem;
  height: 36rem;
}
.slide-deer {
  background-image: url("./images/deer.jpg");
}
.slide-squirrel {
  background-image: url("./images/squirrel.jpg");
}
.slide-bird {
  background-image: url("./images/bird.jpg");
}
.slide-title {
  padding-top: 24.7rem;
}

.slide-text {
  font-size: 1.7rem;
  padding-top: 1.5rem;
  color: var(--text-main-color);
}
.arrow {
  width: 3rem;
  height: 7rem;
}
.arrows {
  align-self: center;
}
.get-notified {
  text-align: center;
  margin-top: 24rem;
  padding-bottom: 24rem;
}

.get-notified-title {
  font-size: 2.7rem;
  line-height: 4.05rem;
  font-style: normal;
  color: var(--font-dark);
  margin-bottom: 59px;
}
.get-notified-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-email {
  width: 54rem;
  height: 6rem;
  font-size: 23px;
  line-height: 27px;
  color: var(--font-gray);
  background: transparent;
  border: 0.1rem solid var(--font-gray);
  padding: 0.4rem 0 0 1.5rem;
}

.input-email::placeholder {
  font-size: 2.3rem;
  color: var(--font-gray);
}

.button-send {
  cursor: pointer;
  color: var(--text-main-color);
  font-size: 2.3rem;
  line-height: 2.7rem;
  width: 12.1rem;
  height: 6.2rem;
  background: var(--button-color);
  border: 0.1rem solid var(--button-color);
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.footer {
  background-color: var(--footer-background);
  width: 100vw;
  position: relative;
}
.footer-wrapper {
  background-image: url("./images/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 144rem;
}

.footer-content {
  width: 120rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15rem 0;
  margin-left: auto;
  margin-right: auto;
}

.footer-links {
  display: flex;
  margin-left: 1rem;
  list-style-type: none;
  width: 48rem;
  justify-content: space-between;
}

.footer-nav-link {
  cursor: pointer;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 23px;
  line-height: 60px;
  letter-spacing: 0.2px;
}
.social-links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 24rem;
}

.social-link-item:not(:last-child) {
  padding-right: 1.8rem;
}
